<th:block th:fragment="deleteModal(isDrivers, id)">
    <form th:action="@{${isDrivers} ? |/drivers/delete/${id}| : |/teams/delete/${id}|}" method="post">
        <div class="modal fade" th:id="|deleteModal${id}|" tabindex="-1" aria-labelledby="deleteModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure you want to delete it?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</th:block>