<nav th:fragment="navbar" class="navbar">
    <div class="link-box">
        <div class="nav-img-box">
            <a th:href="@{/}" class="logo">
                <img src="/img/logo-bool-f1.png" alt="boolF1" width="250" height="24">
            </a>
        </div>
        <div class="nav-list-box">
            <a th:href="@{/drivers}">Drivers</a>
            <a th:href="@{/teams}">Teams</a>
        </div>
    </div>
    <div class="account-box">
        <th:block sec:authorize="isAuthenticated()">
            <span sec:authentication="name"></span>
            <span sec:authentication="authorities"></span>
        </th:block>

        <span sec:authorize="isAnonymous()">Guest</span>

        <a sec:authorize="isAnonymous()" href="/login">Login</a>
        <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
    </div>
</nav>