<th:block th:fragment="card(team)">
    <div class="team-card" th:object="${team}"
        th:style="|background-color: var(--${team.colorName.toLowerCase().replace(' ', '')});|">
        <div class="car-img-box">
            <img th:src="@{/img/teamImg/carImg/{img}(img=*{carImg})}" th:alt="*{name}">
        </div>
        <div class="bottom-box">
            <div class="info-box">
                <p>[[*{name}]]</p>
            </div>
            <div class="info-box-2">
                <p>[[*{nationality}]]</p>
                <p th:each="driver : *{drivers}" th:object="${driver}">
                    [[*{firstName} + ' ' + *{lastName}]]
                </p>
            </div>
            <div class="logo-img-box">
                <img th:src="@{/img/teamImg/logoImg/{img}(img=*{logoImg})}" th:alt="*{name}">
            </div>
            <div class="btn-box" sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/teams/edit/{id}(id=*{id})}" class="btn-crud">Edit</a>
                <button type="submit" class="btn-crud btn-danger-crud" data-bs-toggle="modal"
                    th:data-bs-target="|#deleteModal*{id}|">Delete</button>
                <th:block th:replace="~{fragments/deleteModal :: deleteModal(false, *{id})}"></th:block>
            </div>
        </div>
    </div>
</th:block>