@import url('./colorPalette.css');

/* font-family: 'Formula1', sans-serif; */
@font-face {
    font-family: 'Formula1';
    src: url('../assets/fonts/Formula1-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Formula1-black', sans-serif; */
@font-face {
    font-family: 'Formula1-black';
    src: url('../assets/fonts/formula1-black-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* font-family: 'Northwell-alt', sans-serif; */
@font-face {
    font-family: 'Northwell-alt';
    src: url('../assets/fonts/northwell-alt-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --padding-x: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Formula1', sans-serif;
}

body {
    background-color: var(--background);
    color: #fff;
}

/* heading */
h1 {
    text-align: center;
    padding: 1rem;
    font-family: 'Formula1-black', sans-serif;
    font-size: 3rem;
}