<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers</title>
    <th:block th:replace="~{fragments/bootstrap :: bootstrap}"></th:block>
    <th:block th:replace="~{fragments/styles :: styles}"></th:block>
    <link href="/css/fragments/list.css" rel="stylesheet" />
</head>

<body>
    <header>
        <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
        <h1>Drivers</h1>
    </header>
    <main>
        <div class="box">
            <a th:href="@{/drivers/create}" class="btn-crud">Add New Driver</a>
        </div>

        <div th:if="${driversList.size() > 0}" class="box">
            <th:block th:replace="~{fragments/list :: list(${driversList}, true)}" />
        </div>

        <div th:if="${driversList.size() == 0}" class="box not-found-box">
            <p>No driver found</p>
        </div>
    </main>
</body>

</html>