:root {
    --column-gap: 2rem;
}

.navbar {
    background-color: var(--navbar);
    padding: 1rem var(--padding-x);
    position: relative;
}

.linkBox {
    display: flex;
    align-items: center;
    column-gap: var(--column-gap);
}

.navImgBox .logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.navListBox {
    display: flex;
    column-gap: var(--column-gap);
    height: 100%;
}

.navListBox a {
    color: #fff;
    text-decoration: none;
    padding: 0 0.5rem;
    position: relative;
}

.navListBox a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: translateY(calc(1rem + 0.4em));
}

.menuButton {
    display: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    background-color: var(--navbar);
    border-top: 1px solid #828080;
}

.dropdownMenu a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    border-bottom: 1px solid #828080;
}

.dropdownMenu a:hover {
    border-bottom: 1px solid var(--f1-color);
}

@media screen and (max-width: 550px) {
    .navListBox {
        display: none;
    }

    .menuButton {
        display: block;
        margin-left: auto;
    }

    .dropdownMenu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
    }
}